<!DOCTYPE html>
<html lang="en">

<head>
  <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" rel="stylesheet" type="text/css" />
   <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css" rel="stylesheet" type="text/css" />
   <script src="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
   <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
  {{ script | safe }}   
  </head>
<body>
  {{div | safe}}
</body>

</html>
