{% extends "base.html" %}
{% block head %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content %}

<div class="container text-center">
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Django Plotly Example</a>
    </nav>

    <div class="card" style="width: 100%;margin-top: 15px">

        <div class="card-body">
            <h5 class="card-title">Topographical 3D Surface Plot</h5>
          {{3dplot|safe}}
        </div>
    </div>
</div>
{% endblock %}
