{% extends  'Data/baseNavegacion.html' %}
{% block content %}
<div class="box box-primary">
  <div class="box-header">
    <div class="col-md-12 col-sm-12" align="center">
      <h2 align="center">Embalse Sogamoso</h2>
    </div>
  </div>
  <div class="box-body">
    <!-- Row Start -->
    <div id="filtros_row" class="row" style="display: none;">
      <!--<div class="col-xs-12 col-sm-3 col-md-2" style="height:50vh;">-->
      <div style="height:50vh;">
        <form method="POST" id="post-form" class="form-inline">
          {% csrf_token %}
          
          <label class="my-1 mr-sm-2" for="id_fecha__gte">Fecha rango inicial:</label>
          <input type="date" data-date-format="dd/mm/yyyy" name="fecha_inicial" id="id_fecha_inicial" class="form-control" style="cursor: wait;" disabled>
        
          <label class="my-1 mr-sm-2" for="id_fecha__lte">Fecha rango final:</label>
          <input type="date" name="fecha_final" id="id_fecha_final" class="form-control" style="cursor: wait;" disabled>
        
          <label class="my-1 mr-sm-2" for="id_zonas">Zona:</label>
          <select name="zonas" id="id_zonas" class="form-control" disabled>
          {% for zona in aggrupation.childs %}
            {% if zona.idAgrupacion == 3 %}
              <option id="zona_{{ zona.idAgrupacion }}" value="{{zona.idAgrupacion}}" selected>{{ zona.nombre }}</option>
            {% else %}
              <option id="zona_{{ zona.idAgrupacion }}" value="{{zona.idAgrupacion}}">{{ zona.nombre }}</option>
            {% endif %}
          {% endfor %}
          </select>
        </form>
      </div>
    </div>
    <!-- Row End -->

    <!-- Row Start -->
    <div class="row">
    {% if visualization.type == 'SIMPLE' %}
      <div id="dashboard"></div>
    {% elif visualization.type == 'MULTIPLE' %}
      {% for view in visualization.tableau_views %}
        {% include "./../Visualization/dashboard_box.html" with section_index=forloop.counter0 section_name=view.name section_height="233" %}
      {% endfor %}
    {% else %}
      {% for view in visualization.tableau_views %}
        {% include "./../Visualization/dashboard_box.html" with section_index=forloop.counter0 section_name=view.name section_height="233" %}
      {% endfor %}
    {% endif %}
    </div>
    <!-- Row End -->

    <script>

        function get_visualization_type(){
          var visualization_type = '{{ visualization.type }}';
          return visualization_type;
        }

        function get_url(index){
          var dbs = get_dbs();
          return dbs[index]["URL"];
        }

        function get_sheets_filtro(){
          var filtro = [];
          var filtro_array = [];
          {% for view in visualization.tableau_views %}
            filtro = {
              // "View": "{{ view.view_name }}",
              "Workbook": "{{ view.workbook_name }}",
              "Sheet": "{{ view.sheet_name }}",
              "Local_URL": "{{ view.local_url }}"
            };
            if(filtro["Sheet"] != ""){
              filtro_array.push(filtro);
            }
          {% endfor %}
          return filtro_array;
        }

        function get_dbs(){
          var db = [];
          var db_array = [];
          // ¿De dónde se toma la información con la que se llena el dbs?
          {% for view in visualization.tableau_views %}
            db = {
              // "height": 500,
              "Local_URL": "{{ view.local_url }}",
              "URL": "{{ view.custom_url }}"
            };
            db_array.push(db);
          {% endfor %}
          return db_array;
        }

        function get_views_length(){
          var views_length = {{ visualization.tableau_views|length }};
          // var views_length = 1;
          return views_length;
        }

        // Con este evento se asegura la carga de jQuery antes de la ejecución de cualquier código
        window.addEventListener("DOMContentLoaded", function(){
          init();
        });

      </script>
  </div>
</div>
{% include "./../Visualization/dashboard_js.html" %}
{% endblock %}
